.rent-house-list {
    list-style-type: none;
    padding: 20px;
  }
  
  .rent-house-list li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .house-details {
    flex-grow: 1;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button-group button {
    /* margin-left: 10px; */
    margin-right: 30px;
  }
  
  /* Add this CSS to your stylesheet */
.delete-button {
    background-color: #ff4d4f; /* Red color */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff7875; /* Darker red on hover */
  }

  /* Add this CSS to your stylesheet */
.update-button {
    background-color: #1890ff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #40a9ff; /* Darker blue on hover */
  }
  