/* landlord_house_list.css */

/* Main container styling */
.main-container {
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  min-height: 100vh;
}

/* Title styling */
.page-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

/* Rent house list styling */
.rent-house-list {
  list-style-type: none;
  padding: 0;
}

.rent-house-list li {
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.house-details {
  flex-grow: 1;
  margin-bottom: 10px;
}

.house-details div {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #555;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button-group button {
  margin-left: 10px;
}

/* Custom button styles */
.delete-button {
  background-color: #d49798;
  color: #f01a1a;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #f5d4d3;
}

.update-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #40a9ff;
}

.contract-details-button {
  background-color: #52c41a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contract-details-button:hover {
  background-color: #73d13d;
}

.back-button {
  display: block;
  background-color: #e7638f;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px auto 0; /* Center the button and add top margin */
  font-size: 1.2rem;
}

.back-button:hover {
  background-color: #269c16;
}
.uni-identifier {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.uni-identifier.visible {
  max-height: 100px; /* Adjust based on content height */
  opacity: 1;
}

.uni-identifier.hidden {
  max-height: 0;
  opacity: 0;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.button-group .btn {
  margin: 0 5px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
