body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-spacer {
  /* padding-top: 110px; */
}

.house-detail-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background-color: #f9f9f9;
  border-radius: 10px;
}

/* Image section */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 70vh; /* Cover half of the viewport height */
  overflow: hidden;
  border-bottom-right-radius: 90px 90px;
  margin: auto;
}

.house-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom-right-radius: 90px 90px;
}

.vertical-line {
  width: 1px;
  background-color: #ddd;
  height: 100%;
  margin: 0 20px; /* Adjust this value as needed for spacing */
}

/* Details section */
.details-section {
  flex: 2;
  padding: 20px;
}

.description-class {
  padding-left: 20px;
  padding-right: 20px;
}

.badge {
  display: inline-block;
  background-color: #83B4FF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

.category {
  color: #888;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.features {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.features li {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on smaller screens */
  gap: 10px;
}

.chat-now-button,
.apply-button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%; /* Make buttons fill the width on smaller screens */
}

.chat-now-button {
  background-color: white;
  color: #007bff;
  border-color:  #007bff;
  font-size: 16px !important;
}

.apply-button {
  background-color: white;
  color: #28a745;
  border-color:  #28a745;
}

.chat-now-button:hover {
  background-color: #007bff;
  color: white;
  border-color: white;

  
}

.apply-button:hover {
  background-color: #28a745;
  color: white;
  border-color: white;
}

/* Media query for screens below 768 pixels */
@media (max-width: 767px) {
  .header-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .map-container {
    height: 300px;
  }

  .house-detail-container {
    flex-direction: column; /* Stack image and details sections vertically */
  }

  .vertical-line {
    width: 100%;
    height: 1px;
    margin: 20px 0; /* Adjust this value as needed for spacing */
  }

  .image-section,
  .details-section {
    width: 100%; /* Full width for both sections on smaller screens */
    height: 30vh; /* Adjust height for mobile view */
  }

  .house-image {
    height: auto;
    object-fit: cover;
  }

  .header-end-product {

    border-left : none !important; 
  
  }
}

/* Header container styles */
.header-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Optional: Adds some padding around the container */
  border: 1px solid #ddd;
  border-radius: 20px;
}

.header-start-product {
  flex: 1; /* Optional: Allows this element to take available space */
}

.header-end-product {
  flex: 1; /* Optional: Allows this element to take available space */
  text-align: right; /* Aligns text to the right within this div */
  border-left: 2px solid black; /* Black border on the left side */
  padding-left: 20px; /* Optional: Adds some padding to the left side */
}

.header-start-product h1 {
  margin: 0; /* Removes default margin from h1 */
}

.header-start-product p {
  margin: 5px 0 0 0; /* Adds some spacing to the paragraph */
}

.header-end-product p {
  margin: 0; /* Removes default margin from p */
}

.map-section {
  margin-top: 20px;
  padding: 10px;
 
}

.map-container {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 10px !important;
}


