/* DropdownMenu.css */
.dropdown-toggle::after {
    display: none; /* Hide default dropdown arrow */
  }
  
  .dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
  }

  .dropdown-toggle-custom.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  