/* footer.css */
.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12; /* Change to any color you prefer for hover effect */
}

footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

footer ul.social-icons li {
  display: inline-block;
}

footer ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
}

footer ul.social-icons li a i {
  font-size: 1.5rem; /* Adjust the size of the icons */
}
