.footer-gradient {
  /* background: linear-gradient(to right, #ff7e5f, #feb47b);  */
  background: black; 
  /* background: linear-gradient(to bottom right, #FFB6C1, #87CEFA) !important; */
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: black; /* Change to any color you prefer for hover effect */
  background-color: blue;
  border-radius: 50%;
}

footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

footer ul.social-icons li {
  display: inline-block;
}

footer ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
}

footer ul.social-icons li a i {
  font-size: 1.5rem; /* Adjust the size of the icons */
}

/* Ensure responsiveness */
@media (max-width: 767px) {
  .social-icons {
    justify-content: center;
    margin-bottom: 1rem;
  }

  footer h5 {
    text-align: center;
  }

  footer ul {
    text-align: center;
  }
}
