/* home.css */
.home-container {
  background-color: #f8f9fa;
}

.hero-section {
  background: linear-gradient(to right, #007bff, #00c6ff);
  height: 100vh; /* Full viewport height */
}

.hero-content {
  margin: auto;
  max-width: 600px;
}

.video-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #333;
}

.comment-reviews-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #007bff;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #333;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #555;
}

.card {
  border-radius: 10px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive-16by9::before {
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
