.profile-page {
  width: 100%;
  font-family: Arial, sans-serif;
}

.profile-top-spacer {
  /* background-color: #ffd0d0; */
  /* background: linear-gradient(to bottom, #FFC0CB, #FFFFFF, #ADD8E6) !important; */
  background: linear-gradient(to bottom, #ffffff,  #ADD8E6);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.verified-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #3498db; /* Blue background color */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.verified-icon i {
  color: #fff; /* Icon color */
  font-size: 24px; /* Adjust icon size */
}

.verified-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; /* Adjust text size */
  font-weight: bold;
  color: #da6d6d; /* Text color */
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Prevent interaction */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.verified-icon:hover .verified-text {
  opacity: 1; /* Show text on hover */
}

.balance-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.balance-info div {
  flex: 1 1 45%;
  margin: 10px;
  background-color: #f8f8fb;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000;
}

.profile-details {
  margin-top: -120px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -140px;
  margin: 40px;
  flex-wrap: wrap;
}

.profile-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.profile-pic {
  text-align: center;
}

.profile-pic img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-item label {
  flex: 1;
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
}

.info-item input, 
.info-item textarea {
  flex: 2;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  padding: 5px;
}

.info-item span.pending {
  color: #ff6f61;
}

.info-item span.active {
  color: #4caf50;
}

.navigation-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.navigation-tabs button {
  flex: 1 1 30%;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border-color: #007bff;
  color: blue;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.navigation-tabs button.active-tab {
  font-size: 1.1rem; /* Bigger font size for active tab */
  background-color: blue;
  color: white;
}

.navigation-tabs button:hover {
  background-color: lightblue;
  color: blue;
}

@media (max-width: 800px) {
  .info-item input, 
  .info-item textarea {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .profile-content {
    grid-template-columns: 1fr;
  }

  .balance-info,
  .navigation-tabs {
    flex-direction: column;
  }

  .profile-top-spacer {
    height: 30vh;
  }

  .navigation-tabs button {
    flex: 1 1 100%;
  }

  .info-item label {
    margin-right: 10px;
  }

  .info-item input, 
  .info-item textarea {
    max-width: 100%;
  }
}
