/* Container */
.rentby-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #FFC0CB, #FFFFFF, #ADD8E6) !important;
  /* height: 100vh;  */
  /* padding-bottom: 90vh; */
  min-height: 90vh;
}

/* Top Padding */
.custom-block {
  /* padding-top: 80px; */
  padding-top: 15vh;

}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #333;
}

/* Button Row */
.button-row, .button-map {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Search Bar */
.search-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar-wrapper .fas.fa-search {
  position: absolute;
  left: 10px;
  color: grey;
}

.property-search {
  width: 300px;
  padding: 10px 10px 10px 35px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  transition: border-color 0.3s;
}

.property-search:focus {
  border-color: #007bff;
  outline: none;
}

/* Filter Button */
.filter-button, .filter-button-map {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover, .filter-button-map:hover {
  background-color: #062f5c;
}

@media (max-width: 768px) {
  .filter-button, .filter-button-map {
    margin: 5px 0;
    width: 100%;
  }
}

/* Modal Styling */
.modal-content {
  border-radius: 20px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  color: #007bff;
}

button {
  border-radius: 25px;
}

button.btn-secondary {
  background-color: #6c757d;
}

button.btn-primary {
  background-color: #007bff;
}

button.btn-danger {
  background-color: #dc3545;
}

/* Card Styling */
.custom-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.custom-card:hover {
  transform: scale(1.02);
}

.custom-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.custom-card-body {
  padding-left: 25px;
  padding-right: 25px;
}

.custom-card-title {
  font-size: 1.5rem;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-family: "Roboto", sans-serif !important;
  /* font-weight: 700; */
  /* font-style: normal; */
  display: flex;
  justify-content: center;
}

.custom-card-text {
  margin-bottom: 10px;
  color: #666;
}

.custom-rent-fee {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid black;
}

.custom-details {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.custom-details span {
  display: flex;
  align-items: center;
  color: #666;
}

.custom-details span i {
  margin-right: 5px;
  color: black;
}

.rent-address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #666;
}

.rent-address i {
  margin-right: 5px;
  color: red;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-details, .button-chat {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.button-details {
  background-color: white;
  padding: 8px 16px;
  color: #28a745;
}

.button-chat {
  background-color: white;
  padding: 8px 16px;
  color: #dc3545;
}

.button-details:hover {
  background-color: #28a745;
  color: white;
}

.button-chat:hover {
  background-color: #dc3545;
  color: white;
}

/* Heart Icon */
.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.heart-icon:hover {
  color: #ff0000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .button-row {
    flex-direction: column;
  }

  .custom-block {
    padding-top: 50px;
  }

  .property-search {
    width: 100%;
  }
}

.row-cols-1 .col, .row-cols-md-3 .col {
  margin-bottom: 30px;
}

p {
  margin: 0;
  padding: 0;
}
