.property-item {
    display: flex;
    margin-bottom: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
  }

  .custom-block {
    padding-top: 80px;
  }

  .button-row {
    display: flex;
    justify-content: center;
  }

  .filter-button {
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .filter-button:hover {
    background-color: #007bff;
  }

  .property-select-button {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .property-icon {
    margin-right: 8px;
  }
  
  .form-select {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .button-group {
    margin-top: 16px;
  }
  


  
  .image-container {
    width: 200px; /* Adjust as needed */
    margin-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .details-container {
    flex: 1;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .property-item {
      flex-direction: column;
    }
    
    .image-container {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

  .filter-container {
    padding: 20px;
    background: linear-gradient(to bottom right, #ffc0cb, #a64dff);  /* Red to light blue gradient */
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow on hover */
    position: relative; /* Needed for absolute positioning of pseudo-element */
  }
  
  .filter-container::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: -100%; /* Start position off-screen to the left */
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent); /* White to transparent gradient */
    transition: left 0.3s ease; /* Smooth transition for left position */
  }
  
  .filter-container:hover::before {
    left: 100%; /* Move the pseudo-element to the right */
  }
  
  .filter-container:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  }
  
  
  
  .filter-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .filter-inputs label {
    margin-right: 10px;
  }
  
  .filter-inputs input {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .filter-inputs button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .filter-inputs input {
      width: calc(50% - 5px);
    }
  
    .filter-inputs button {
      width: 100%;
      margin-right: 0;
    }
  }
  