/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Top Header */
.renter-top-header {
    /* background-color: #A7E6FF; */
    background: linear-gradient(to bottom, #FFC0CB, #FFFFFF, #ADD8E6) !important;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 150px; /* Ensure space for cards */
    padding-top: 150px;
}

/* Title */
.title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

/* Card Container */
.card-container {
    position: relative;
    top: -100px; /* Adjust this value to pull the cards up */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* Card Styling */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.template-box-container {
    padding: 20px;
    transition: transform 0.2s;
}

.template-box-container:hover {
    transform: translateY(-5px);
}

/* Card Body */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Card Title */
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Card Text */
.card-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

/* Button */
.btn-primary {
    background-color: #3ABEF9;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #339AC0;
}
