/* navbar.css */
.navbar-custom {
  background-color: transparent;
  /* background-color: white;  */
  position: fixed;
  /* width: calc(100% - 40px); */
  z-index: 1000;
  transition: all 0.3s ease;
  margin: 0 20px;
  /* border-radius: 30px; */
  padding: 0.75rem 1rem;
}



.navbar-brand-custom {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.navbar-brand-custom img {
  margin-left: 20px;
  width: 100px;
  height: 90px;
  transition: all 0.3s ease;
}

.navbar-toggler-custom {
  border: none;
}

.navbar-nav-custom {
  justify-content: center !important;
  display: flex;
  /* padding-left: 15px !important ;
  padding-right: 15px !important; */
}

/* .nav-link-custom {

  color: black !important;
  transition: all 0.3s ease;
  padding-left: 15px !important;
  padding-right: 15px !important;
} */

.nav-link-custom {
  color: black !important;
  transition: all 0.3s ease;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-family: 'Helvetica', 'Arial', sans-serif; /* or 'Roboto', sans-serif from Google Fonts */
  font-size: 1rem; /* Adjust the font size as needed */
  font-weight: 10000; /* Adjust the font weight as needed */
  letter-spacing: 0.05em; /* Adjust letter spacing if needed */
}

.nav-link-custom:hover {
  color:red !important;
}

.contact-button {
  background-color: #ff416c;
  color: white !important;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #54b5f1;
}

/* Additional styles for smaller navbar on scroll */
.navbar-small {
  background-color: #EEEEEE !important;
  padding: 0.5rem 1rem;
 
  /* border-radius: 10px; */
}

.navbar-small .navbar-brand-custom img {
  width: 90px;
  height: 50px;
}

.navbar-small .nav-link-custom {
  font-size: 0.9rem;
  color: black !important;
}

/* Add this to account for the navbar height */
body {
  padding-top: 90px; /* Adjust this value based on your navbar's height */
}

@media (max-width: 768px) {
  body {
    padding-top: 100px; /* Adjust this value for smaller screens if needed */
  }
}

.profile-link {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 20px;
}

.profile-icon {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.profile-text {
  margin-left: 0.5rem;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, margin-left 0.3s ease;
  white-space: nowrap;
}

.profile-link:hover .profile-icon {
  color: white;
}

.profile-link:hover {
  border-radius: 20px;
  background: linear-gradient(to bottom left, #FFB6C1, #10439F) !important;
  padding-right: 10px;
}

/* Show text on hover */
.profile-link:hover .profile-text {
  opacity: 1;
  transform: translateX(0);
  color: white;
}


/* Add this new class for the overlay */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important; /* Translucent gray */
  z-index: 999 !important; /* Ensure it's above the navbar */
  display: none; /* Initially hidden */
}

/* Show the overlay when navbar is active */
.navbar-overlay.active {
  display: block !important;

}

.App-header.mobile-active {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Translucent gray */
}
